@media screen and (max-width: 950px) {
  #first-img {
    position: static;
    width: 100%;
    height: 100vh;
    /* max-width: 800px; */
  }
  .static {
    margin-bottom: -3px;
  }
  #content {
    position: absolute;
    top: 60%;

    width: 70%;
    & h1 {
      font-size: 50px;
      /* border: 2px solid blue; */
    }
    & p {
      font-size: 20px;
    }
  }
  #gb {
    width: 100%;
    & .groom,
    & .bride {
      width: 90%;
    }
  }
  #mobile {
    width: 50%;
  }
  body .inner {
    height: 100%;
    width: 100%;
  }
  body .inn {
    width: 100%;
    height: 500px;
  }
  #schedule {
    width: 100%;
  }
  #foot {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  #content {
    width: 80%;

    & h1 {
      width: 100%;
      font-size: 40px;
    }
    & p {
      width: 100%;
    }
  }
  body .inn {
    height: 600px;
  }
  #gb {
    width: 100%;
    & .groom,
    & .bride {
      width: 90%;
      & h2 {
        padding-bottom: 30px;
      }
      & p {
        font-size: 17px;
      }
    }
  }
  body .inner {
    width: 100%;
    height: 100%;
  }
  #saturday {
    font-size: 35px;
    & nav {
      font-size: 35px;
    }
  }
}

