@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Tinos:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   scroll-behavior: smooth;
   /* background-color: #F5F5F5; */
}
body {
  color: #333;
  /* max-width: 1200px; */
  margin: 0 auto;
 
  font-family: "Lato", sans-serif;
  /* background-color: green; */
}
/* header */
#me {
  display: flex;
  position: fixed;
  left: 3%;
  top: 30px;
  align-items: center;
  cursor: pointer;
  
  transition: transform 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* border: 3px solid black; */
    padding: 10px 20px;
    display: flex;
    border-radius: 25px;
    
    
    cursor: pointer;
    justify-content: center;
    & h2 {
      padding-left: 15px;
      font-weight: 100;
      font-size: 15px;
    }
}
.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.menu-button {
  display: flex;
  flex-direction: column;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.content {
  position: fixed;
  /* border-left: 8px solid #333; */
  padding-left: 15px;
  top: 53%;
  width: 43%;
  left: 10%;
  & h1 {
    font-size: 70px;
    padding: 5px;
    color: #ffffff;
font-family: 'Tinos', serif;
    font-weight: 900;
    /* font-family: 'Arimo', sans-serif; */
    /* font-family: "Playfair Display", serif; */
  }
  & p {
    font-size: 20px;
    color: #ffffff;
    padding-top: 20px;
    font-family: 'Arimo', sans-serif;

    font-weight: 400;
  
  }
}
.static {
  position: relative;
  /* overflow: hidden; */
  color: black;
  & img {
    width: 60%;
    /* border-radius: 0 15px 15px 0; */
    position: fixed;
    /* background-image: url('./images/homepage.jpg'); */
    height: 100%;
    object-fit: cover;
    /* background-size: cover; */
    /* background-position: top center;
    background-repeat: no-repeat; */
    object-position: top;
  }
  & nav {
    position: fixed;
    top: 30px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* border: 3px solid black; */
    padding: 15px 25px;
    display: flex;
    border-radius: 25px;
    border: none;
    left: 3%;
    cursor: pointer;
    justify-content: center;
    & h2 {
      padding-left: 15px;
      font-weight: 100;
      font-size: 15px;
    }
  }
}

.mobile {
  display: block;
  width: 40%;
  overflow: scroll;

  background-color: var(--white-color);
  height: 100%;
  position: fixed;
  left: -50%;

  transition: 1.5s;
  color: black;

  top: 0;
  z-index: 3;
  /* border: 1px solid black; */
}
#mobile.open {
  left: 0px;
}

#mobile h3 {
  color: black;

  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 900;

  padding-top: 10px;
  padding-bottom: 30px;
}

#mobile ul {
  list-style: none;
  width: 100%;
  /* border: 8px solid red; */
}
#mobile a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 20px 20px;
}
#mobile a:hover {
  background-color: black;
  color: var(--white-color);
  transition: 0.8s;
}
#mobile button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
#mobile button:hover {
  background-color: black;
  color: white;
}
#menu {
  width: 25px;

  background-color: var(--black-color);
  height: 3px;
  transform: translateY(7px);
  position: relative;
}
#menu::before {
  content: "";
  background-color: var(--black-color);
  width: 80%;
  height: 3px;
  display: flex;
  justify-content: flex-end;
  transition: 0.5s;
  position: absolute;

  transform: translateY(-10px);
}
#menu::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  background-color: var(--black-color);
  width: 80%;
  height: 3px;
  position: absolute;
  transition: 0.5s;
  margin-bottom: 10px;

  transform: translateY(10px);
}

#menu.active {
  background-color: transparent;
}
#menu.active::after {
  transform: translateY(0px) rotate(-45deg);
  background-color: var(--black-color);
  transition: transform 1s;
}
#menu.active::before {
  transform: translateY(0px) rotate(45deg);
  background-color: var(--black-color);
  transition: transform 1s;
}
.inn {
  width: 100%;
  padding: 0;
  margin: 0;
  /* float: right; */
  height: 100vh;
  /* max-width: 1200px; */
  max-height: 1200px;
}
.inner {
  width: 40%;
  color: white;
  /* border: 2px solid blue; */
  background-image: url("./images/inner.png");
  background-size: cover;
  float: right;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .date {
    width: 100%;
    & h2 {
      font-size: 50px;
      width: 100%;
      display: flex;
      font-family: "Playfair Display", serif;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 30px;
    }
    & nav {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      height: 100%;
      text-align: center;
    }
  }
}
.countdown-container {
  text-align: center;
}

#countdown {
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 10px;
}
.guest {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & button {
    /* position: relative; */
    padding: 15px 20px;
    border-radius: 7px;
    min-width: 100px;
    cursor: pointer;
    border: 1px solid white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
& a {
  text-decoration: none;
  color: #ffffff;
} & a:hover {
  color: black;
}
  & button:hover {
    background: white;
    font-size: 14px;
    box-shadow: 0 0 30px 5px white;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    color: black;
    transition: all 0.2s ease-out;
  }
  & button:hover + a:hover {
    color: black;
  }
  & button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  & button::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    /* width: 100%; */
    /* position: absolute; */
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  & button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  & div {
    /* border: 3px solid blue; */
    padding-top: 50px;
    /* position: absolute; */
    top: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & h5 {
      padding-bottom: 10px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    & a {
      color: white;
    }
    & i {
      font-size: 25px;
      cursor: pointer;
      padding: 5px;
      /* border: 1px solid white; */
      border-radius: 50%;
      animation: det 1s infinite;
    }
  }
}
main {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  & .story {
    width: 100%;
    padding: 10px 0;

    & .gb-story {
      width: 40%;
      padding: 10px;
      /* border: 2px solid red; */
      float: right;
      & .groom,
      & .bride {
        padding-bottom: 30px;
        width: 90%;
        margin: 0 auto;
        /* border: 3px solid blue; */
        /* font-size: 30px; */
        & h2 {
          font-size: 40px;
          font-family: "Playfair Display", serif;
          text-align: left;
          padding-bottom: 50px;
        }
        & p {
          font-size: 20px;
          /* color: black; */
          padding-bottom: 30px;
          font-weight: 50;
        }
      }
    }
  }
}
.calender {
  width: 100%;
  /* border: 2px solid red; */
  padding: 10px 0;
  & .schedule {
    width: 40%;
    float: right;
    
    padding: 10px;
    & h2 {
      font-size: 40px;
      text-align: center;
      padding-bottom: 50px;
      font-family: "Playfair Display", serif;
    }
    & .below-schedule {
      width: 90%;
      text-align: center;
      padding-bottom: 25px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 23px;
      border-bottom: 0.5px solid gray;
    }
    & h3 {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      padding: 20px 0 10px 0;
    }
    & h4 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: gray;
      padding-bottom: 40px;
    }
    & p {
      width: 90%;
      padding-top: 10px;
      text-align: center;
      margin: 0 auto;
      font-size: 20px;

      /* font-weight: 900; */
    }
    & .hanger {
      display: flex;
      align-items: center;
      width: 90%;
      color: #333;
      font-weight: 100;
      margin: 0 auto;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 0;
      & img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
      & a {
        color: rgb(174, 190, 148);
        /* text-transform: uppercase; */
      }
    }
    & .map {
      text-align: center;
    }
    & .reception {
      padding-top: 10px;
    }
    & .registry {
      & p {
        padding-bottom: 30px;
      }
    }
   
  }
}
.gmeet {
  padding-bottom: 25px;
  & p {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 10px;
    /* width: 80%; */

  }
}
.meet {
  height: 20px;
  width: 20px; 
  margin-right: 5px;
}
#text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* border: 1px solid red; */
}
#fancy {
  width: 60%;
  
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}
footer {
  width: 100%;
  /* border: 3px solid red; */
  padding: 0px 0 60px 0;
  & .foot {
    width: 40%;
    
    padding: 0px 0 30px 0;
    float: right;
   display: flex;
   flex-direction: column;
    /* border: 1px solid blue; */
    & div {
/* border: 3px solid black; */
display: flex;
padding-bottom: 30px;
flex-wrap: wrap;
justify-content: space-evenly;
    }
    & ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & li {
        font-size: 20px;
        /* text-decoration: underline; */
        list-style: none;
        cursor: pointer;
      }
      & img {
        height: 30px;
        text-decoration: none;
        width: 30px;
      }
      & a {
        color: rgb(174, 190, 148);
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

/* gift */
.second-body {
  padding: 40px 0;
  & .arrow-left {
    position: fixed;
    top: 60px;
    left: 5%;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    background-color: black;
    border: none;
    color: white;
  }
  & .arrow-left:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: .5s;
  }
}
.tit {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  width: 100%;
  color: black;
  padding: 20px 0;
}

.gifts {
  padding: 20px 0;
  display: flex;
  /* border: 3px solid black; */
  width: 100%;
  color: black;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & div {
    width: 30%;
    /* padding: 30px 0; */
    padding-bottom: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 15px;
    & img {
      width: 100%;
      /* height: 20px; */
      
    } & a{
      display: flex;
      width: 100%;
      color: black;
      align-items: center;
      /* justify-content: space-evenly; */
      /* padding-right: 20px; */
      /* position: relative; */
      height: 100%;
      padding: 0 4px;
      text-decoration: none;
    }
    & h4{
       font-size: 25px;
       font-weight: 400;
       margin-bottom: 20px;
    }
    /* & button {
      width: 200px;
      padding: 10px 0;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    } */
    & nav {
      width: 80%;
      height: 250px;
      /* border: 2px solid red; */
      
    }
  }
}
.fry-pan {
  height: 250px;
  
}
#large {
  width: 100%;
  & img {
    height: 235px;
  }
}
.bookmarkBtn {
  width: 140px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .7s;
  overflow: hidden;
}

.IconContainer {
  width: 43px;
  height: 41.5px;
  background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* left: 2.5px; */
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .7s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  /* width: 100%;
  text-align: right; */
  width: 60%;
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .7s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 134px;
  border-radius: 40px;
  transition-duration: .7s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .7s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .7s;
}
/* .swiper * {
  border: 2px solid red;
} */
 .swiper {
  margin-bottom: 25px;
  /* border: 1px solid black; */
      width: 100%;
      max-width: 700px;
      height: 500px;
      padding:0 50px 50px 50px;
      & h2 {
        font-size: 40px;
          font-family: "Playfair Display", serif;
          text-align: center;
          padding: 0;
          border: 3px solid black;
          /* padding-bottom: 50px; */
      }
    }
    .mom {
      font-size: 40px;
          font-family: "Playfair Display", serif;
          text-align: center;
          padding-bottom: 20px;
          /* border: 3px solid black; */
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .swiper-slide img {
      display: block;
      border-radius: 5px;
      object-fit: cover;
      object-position: top;
      height: 85%;
      width: 100%;
    }
    #swip1 {
      object-position: center;
    }
    .fancy {
 background-color: transparent;
 border: 2px solid #000;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 /* float: right; */
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 width: 150px;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: black;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-transform: uppercase;
 text-decoration: none;
 color: black;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: black;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes det {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
