* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   scroll-behavior: smooth;
   /* background-color: #F5F5F5; */
}
body {
  color: #333;
  /* max-width: 1200px; */
  margin: 0 auto;
 
  font-family: "Lato", sans-serif;
  /* background-color: green; */
}
/* header */

.content {
  position: fixed;
  top: 60%;
  width: 40%;
  left: 10%;
  & h1 {
    font-size: 70px;
    padding: 5px;

    font-weight: 900;
    font-family: "Playfair Display", serif;
  }
  & p {
    font-size: 20px;
    padding-top: 20px;

    font-weight: 500;
  }
}
.static {
  position: relative;
  /* overflow: hidden; */
  color: black;
  & img {
    width: 60%;
    /* border-radius: 0 15px 15px 0; */
    position: fixed;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  & nav {
    position: fixed;
    top: 30px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* border: 3px solid black; */
    padding: 15px 25px;
    display: flex;
    border-radius: 25px;
    border: none;
    left: 3%;
    cursor: pointer;
    justify-content: center;
    & h2 {
      padding-left: 15px;
      font-weight: 100;
      font-size: 15px;
    }
  }
}

.mobile {
  display: block;
  width: 40%;
  overflow: scroll;

  background-color: var(--white-color);
  height: 100%;
  position: fixed;
  left: -50%;

  transition: 1.5s;
  color: black;

  top: 0;
  z-index: 3;
}
#mobile.active {
  left: 0px;
}

#mobile h3 {
  color: black;

  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 900;

  padding-top: 10px;
  padding-bottom: 30px;
}

#mobile ul {
  list-style: none;
}
#mobile a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 20px 20px;
}
#mobile a:hover {
  background-color: black;
  color: var(--white-color);
  transition: 0.8s;
}
#mobile button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
#mobile button:hover {
  background-color: black;
  color: white;
}
#menu {
  width: 25px;

  background-color: var(--black-color);
  height: 3px;
  transform: translateY(7px);
  position: relative;
}
#menu::before {
  content: "";
  background-color: var(--black-color);
  width: 80%;
  height: 3px;
  display: flex;
  justify-content: flex-end;
  transition: 0.5s;
  position: absolute;

  transform: translateY(-10px);
}
#menu::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  background-color: var(--black-color);
  width: 80%;
  height: 3px;
  position: absolute;
  transition: 0.5s;
  margin-bottom: 10px;

  transform: translateY(10px);
}

#menu.active {
  background-color: transparent;
}
#menu.active::after {
  transform: translateY(0px) rotate(-45deg);
  background-color: var(--black-color);
  transition: transform 1s;
}
#menu.active::before {
  transform: translateY(0px) rotate(45deg);
  background-color: var(--black-color);
  transition: transform 1s;
}
.inn {
  width: 100%;
  padding: 0;
  margin: 0;
  /* float: right; */
  height: 100vh;
  /* max-width: 1200px; */
  max-height: 1200px;
}
.inner {
  width: 40%;
  color: white;
  /* border: 2px solid blue; */
  background-image: url("./images/inner.png");
  background-size: cover;
  float: right;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .date {
    width: 100%;
    & h2 {
      font-size: 50px;
      width: 100%;
      display: flex;
      font-family: "Playfair Display", serif;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 30px;
    }
    & nav {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      height: 100%;
      text-align: center;
    }
  }
}
.countdown-container {
  text-align: center;
}

#countdown {
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 10px;
}
.guest {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & button {
    /* position: relative; */
    padding: 15px 20px;
    border-radius: 7px;
    min-width: 100px;
    cursor: pointer;
    border: 1px solid white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  & button:hover {
    background: white;
    font-size: 14px;
    box-shadow: 0 0 30px 5px white;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    color: black;
    transition: all 0.2s ease-out;
  }

  & button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  & button::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    /* width: 100%; */
    /* position: absolute; */
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  & button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  & div {
    /* border: 3px solid blue; */
    padding-top: 50px;
    /* position: absolute; */
    top: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & h5 {
      padding-bottom: 10px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    & a {
      color: white;
    }
    & i {
      font-size: 25px;
      cursor: pointer;
      padding: 5px;
      /* border: 1px solid white; */
      border-radius: 50%;
      animation: det 1s infinite;
    }
  }
}
main {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  & .story {
    width: 100%;
    padding: 10px 0;

    & .gb-story {
      width: 40%;
      padding: 10px;
      /* border: 2px solid red; */
      float: right;
      & .groom,
      & .bride {
        padding-bottom: 30px;
        width: 80%;
        margin: 0 auto;
        /* border: 3px solid blue; */
        /* font-size: 30px; */
        & h2 {
          font-size: 40px;
          font-family: "Playfair Display", serif;
          text-align: center;
          padding-bottom: 50px;
        }
        & p {
          font-size: 20px;
          /* color: black; */
          padding-bottom: 30px;
          font-weight: 50;
        }
      }
    }
  }
}
.calender {
  width: 100%;
  /* border: 2px solid red; */
  padding: 10px 0;
  & .schedule {
    width: 40%;
    float: right;
    
    padding: 10px;
    & h2 {
      font-size: 40px;
      text-align: center;
      padding-bottom: 50px;
      font-family: "Playfair Display", serif;
    }
    & .below-schedule {
      width: 80%;
      text-align: center;
      padding-bottom: 15px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 23px;
      border-bottom: 0.5px solid gray;
    }
    & h3 {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      padding: 40px 0 20px 0;
    }
    & h4 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: gray;
      padding-bottom: 40px;
    }
    & p {
      width: 80%;
      margin: 0 auto;
      font-size: 20px;

      /* font-weight: 900; */
    }
    & .hanger {
      display: flex;
      align-items: center;
      width: 80%;
      color: #333;
      font-weight: 100;
      margin: 0 auto;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 0;
      & img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
      & a {
        color: rgb(174, 190, 148);
        /* text-transform: uppercase; */
      }
    }
    & .map {
      text-align: center;
    }
    & .reception {
      padding-top: 10px;
    }
    & .registry {
      & p {
        padding-bottom: 30px;
      }
    }
  }
}
footer {
  width: 100%;
  padding: 0px 0 60px 0;
  & .foot {
    width: 40%;
    padding: 0px 0 30px 0;
    float: right;
    /* border: 1px solid blue; */
    & ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & li {
        font-size: 20px;
        /* text-decoration: underline; */
        list-style: none;
        cursor: pointer;
      }
      & img {
        height: 30px;
        text-decoration: none;
        width: 30px;
      }
      & a {
        color: rgb(174, 190, 148);
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

/* gift */
.second-body {
  padding: 40px 0;
  & .arrow-left {
    position: fixed;
    top: 60px;
    left: 5%;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    background-color: black;
    border: none;
    color: white;
  }
  & .arrow-left:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: .5s;
  }
}
.tit {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  width: 100%;
  color: black;
  padding: 20px 0;
}

.gifts {
  padding: 20px 0;
  display: flex;
  /* border: 3px solid black; */
  width: 100%;
  color: black;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & div {
    width: 30%;
    /* padding: 30px 0; */
    padding-bottom: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    & img {
      width: 100%;
      /* height: 20px; */
      
    } & a{
      display: flex;
      width: 100%;
      color: black;
      align-items: center;
      /* justify-content: space-evenly; */
      /* padding-right: 20px; */
      /* position: relative; */
      height: 100%;
      padding: 0 4px;
      text-decoration: none;
    }
    & h4{
       font-size: 25px;
       font-weight: 400;
       margin-bottom: 20px;
    }
    /* & button {
      width: 200px;
      padding: 10px 0;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    } */
    & nav {
      width: 80%;
      height: 250px;
      /* border: 2px solid red; */
      
    }
  }
}
.fry-pan {
  height: 250px;
  
}
#large {
  width: 100%;
  & img {
    height: 235px;
  }
}
.bookmarkBtn {
  width: 140px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .7s;
  overflow: hidden;
}

.IconContainer {
  width: 43px;
  height: 41.5px;
  background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* left: 2.5px; */
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .7s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  /* width: 100%;
  text-align: right; */
  width: 60%;
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .7s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 134px;
  border-radius: 40px;
  transition-duration: .7s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .7s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .7s;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes det {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
